.resume{
    margin:15px;
}

.intro{
    background-color:rgba(3, 230, 238, 0.258);
    color:blueviolet
}

.knowledge{
    background-color:rgb(218, 208, 240);
    color:rgb(33, 31, 31);
}

.size{
    height:600px;
    width: 100vw;
}